[core]
	quotepath = false
	editor = vim
[user]
	email = minstrike520@gmail.com
	name = minstrike520
[credential "https://github.com"]
	helper =
	helper = !$PREFIX/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !$PREFIX/bin/gh auth git-credential
[safe]
	directory = /storage/emulated/0/Documents/Obsidian/StudyingSpace_Phone
